body{
    background-color: #22A699;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F24C3D;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F24C3D;
}
::-webkit-scrollbar-thumb
{
	background-color: #F2BE22;
	border-radius: 10px;
	background: #F29727;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 10px;
  width: 100%;
  height: 70px;
}

li {
  float: left;
}

li a {
  display: block;
  text-decoration: none;
  color: #F24C3D;
  background-color: #F2BE22;
  text-align: center;
  border: 4px solid #F29727;
  margin-right: 10px;
  height: 40px;
  width: 90px;
  font-size: 25px;
}

ul:first-child{
  margin-left: 20px;
}


.cnt{
  text-align: center;
  background: #F29727;
  color: #F24C3D;
  margin-top: 10px;
  padding: 10px;
  width: 450px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: #F2BE22 solid 4px;
  display: inline-block;
  vertical-align:top;
}

.cnt span{
  font-size: 22px;
}



h3{
  font-size: 22px;
}

.tb{
  background-color: #F2BE22;
  color: #F24C3D;
  border: 3px solid #F24C3D;
  width: 160px;
  height: 32px;
  font-size: 25px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  text-align: center;
  transition: border .05s;
  -webkit-transition: border .05s;
  -moz-transition: border .05s;
  -ms-transition: border .05s;
  -o-transition: border .05s;
}

.tb::placeholder{
  color: #F24C3D;
}

.tb:focus{
  outline: none;
  border: #F24C3D 4px solid;
}

.tbat{
  justify-content: center;
  align-items: center;
  display: flex;
}

.tbat form{
  justify-content: center;
  align-items: center;
  display: flex;
}

.usermanagement{
  justify-content: center;
  align-items: center;
  display: flex;
}

.usermanagement form{
  justify-content: center;
  align-items: center;
  display: flex;
}

.um{
  text-align: center;
  background: #F29727;
  color: #F24C3D;
  margin-top: 10px;
  padding: 10px;
  width: 450px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: #F2BE22 solid 4px;
  display: inline-block;
  vertical-align:top;
}

.man{
  display: inline;
}

.uid{
  background-color: #F2BE22;
  color: #F24C3D;
  border: 3px solid #F24C3D;
  width: 160px;
  height: 32px;
  font-size: 25px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  text-align: center;
  transition: border .05s;
  -webkit-transition: border .05s;
  -moz-transition: border .05s;
  -ms-transition: border .05s;
  -o-transition: border .05s;
}

.uid::placeholder{
  color: #F24C3D;
}

.uid:focus{
  outline: none;
  border: #F24C3D 4px solid;
}

.udl{
  color: #F24C3D;
  background-color: #F2BE22;
  text-align: center;
  border: 3px solid #F24C3D;
  height: 36px;
  width: 96px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.um span{
  width: 420px;
  font-size: 22px;
}

.btn{
  color: #F24C3D;
  background-color: #F2BE22;
  text-align: center;
  border: 3px solid #F24C3D;
  height: 36px;
  width: 75px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.us{
  color: #F24C3D;
  background-color: #F2BE22;
  text-align: center;
  border: 3px solid #F24C3D;
  height: 36px;
  width: 125px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
